.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para o carrinho */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userInfo p {
  font-size: 16px;
  margin: 5px 0;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 15px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produtoImagem {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.produtoDetalhes {
  flex: 1;
}

.produtoDetalhes p {
  margin: 5px 0;
}

.produtoDetalhes strong {
  color: #333;
}

.total {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}
/* Estilos para o Card do Cliente */
.cardCliente {
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.cardCliente:hover {
  transform: scale(1.03);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.clienteInfo {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.clienteNome {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.clienteContato {
  font-size: 14px;
  color: #666;
}

/* Estilização Grid */
.produtosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

/* Card do produto */
.produtoCard {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Imagem do produto */
.produtoImagem {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5px;
}

.quantidade button {
  width: 50px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #544823;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantidade-container span {
  min-width: 30px;
  text-align: center;
  font-size: 18px;
}
